[submodule "far-ofer-web-client"]
	path = far-ofer-web-client
	url = https://github.com/niroosh1997/far-ofer-web-client.git
[submodule "far-ofer-web-server"]
	path = far-ofer-web-server
	url = https://github.com/niroosh1997/far-ofer-web-server.git
